@use '/src/styles/constants/colors';

.wrap {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding-top: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;

  .inputWrap {
    position: relative;
    width: 360px;
    margin: 0 auto;
    text-align: center;

    .inputForm {
      .input {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        color: colors.$SUB_TEXT;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 10%) 0 4px 15px -3px, rgba(0, 0, 0, 5%) 0 4px 6px -2px;

        &::placeholder {
          font-size: 14px;
          color: colors.$SUB_TEXT;
        }
      }

      .submitButton {
        position: absolute;
        top: 15px;
        right: 10px;

        .searchIcon {
          width: 20px;
          height: 20px;
          fill: colors.$SUB_TEXT;
        }
      }
    }
  }

  .emptySearchItem {
    position: absolute;
    margin-top: 10px;
    font-size: 14px;
    color: colors.$RED;
    text-align: left;
  }

  .addressList {
    position: absolute;
    top: 55px;
    left: 50%;
    z-index: 9;
    width: 360px;
    background-color: #fafafa;
    border: 2px solid #eeeeee;
    border-radius: 0 0 10px 10px;
    transform: translate(-50%, 0%);

    li {
      position: relative;
      padding: 15px;

      &:hover {
        background-color: #dddddd;
      }
    }

    .active {
      background-color: #dddddd;

      &::after {
        position: absolute;
        top: 0;
        left: -2px;
        width: 3px;
        height: 100%;
        content: '';
        background-color: colors.$SUB;
      }
    }

    .addressText {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}
