@use '/src/styles/constants/colors';

header {
  padding: 0 16px;
  text-align: center;

  .link {
    display: block;

    .svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      fill: colors.$MAIN;
    }

    .location {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      color: colors.$MAIN;
    }

    .time {
      line-height: 30px;
      color: colors.$MAIN;
    }
  }
}

.wrap {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding-top: 40px;
  overflow-y: auto;
  background-color: #fcfcfc;
  border-radius: 10px;
  // border: 2px solid #96c7f2;
}
